@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html{
font-family: 'Fredoka One', cursive;
}
#appname {
    font-size:50pt;
    font-family: 'Fredoka One', cursive;
}