@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
    --primary: #103900;
    --secondary: #AA1155;
    --accent: #7f954b;
    --white: #F4F3EE;
}

#appname {
    font-size:50pt;
    font-family: 'Fredoka One', cursive;
}

body {
    padding-top: 4.5rem;
    color: var(--primary)!important;
}

footer {
    padding-bottom: 4.5rem;
}

nav span {
    vertical-align: bottom;
}

.offcanvas-start {
    width: auto;
}

.navbar-toggler {
    border: 0px;
}

.square-img {
    height: 30vw;
    width: 30vw;
    background-size: cover;
    background-position: center;
}

#comboGallery .card{
    flex-direction: row;
}

#comboGallery .card,.container {
    padding: 0px;
}

#comboButtons .material-icons {
    color: var(--secondary)!important;
  }

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.white {
    color: #ffffff;
}

.bg-primary {
    background-color: var(--primary)!important;
}

.bg-accent {
    background-color: var(--accent)!important;
}

.bg-light {
    background-color: var(--white)!important;
}

.text-primary {
    color: var(--primary)!important;
}

.text-accent {
    color: var(--accent)!important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .bg-secondary:visited {
    background-color: var(--secondary)!important;
    border-color: var(--secondary)!important;
}

.btn-secondary:hover {
    filter: brightness(75%);
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .bg-primary:visited {
    background-color: var(--primary)!important;
    border-color: var(--primary)!important;
    color: var(--white);
}

.btn-primary:hover {
    filter: brightness(125%);
}

.rounded {
    border-radius: 1rem!important;
}

#offcanvasNavbar .nav-link {
    color: var(--primary)!important;
}